###############################################################################
# ClamAV Daily Scan
###############################################################################
START_TIME=`date`
echo "Starting ClamAV Scan at ${START_TIME}" &>> /var/log/clamd.scan
{{ clamd_scan_command }}

case $? in
  1)
    echo "Virus Detected!"
  ;;
  2)
    echo "Error Occurred!"
  ;;
  *)
    echo "No Viruses Detected!"
  ;;
esac

FINISH_TIME=`date`
echo "Finished ClamAV Scan at ${FINISH_TIME}" &>> /var/log/clamd.scan
